<div>
    
    <form className="container" method="post" action="/valid">
<div class="mb-3">
<label for="title" class="form-label">Email</label>
<input type="text" class="form-control" id="email" name="email" ref={mailInp}/>

</div>
<div class="mb-3">
<label for="des" class="form-label">Password</label>
<input type="text" class="form-control" id="pswd" name="pswd" ref={pswdInp}></input>
</div>

<button type="submit" class="btn btn-primary">Login</button>
</form>
</div>