<div>
    <h2>Register </h2>
    <form className="container" method="post" action="/register">
<div class="mb-3">
<label for="title" class="form-label">Email</label>
<input type="text" class="form-control" id="Email" name="Email" />

</div>
<div class="mb-3">
<label for="des" class="form-label">Password</label>
<input type="text" class="form-control" id="Password" name="Password" ></input>
</div>

<button type="submit" class="btn btn-primary">Register</button>
</form>
</div>